@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

header {
    position: fixed;
    color: white;
    display: flex;
    padding: 2.5rem 3rem;
    z-index: 1;
    background-color: gray;
    width: 100%;
    justify-content: space-evenly;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.image-building{
    background-image: url(images/isb-overhead.webp);

}

.image-control{
    background-image: url(images/Isb_control_room.webp);
}

.image-desk{
    background-image: url(images/ISB-desk.jpg);
}

.main{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;

}

.text{
    position: absolute;
    bottom: 250px;
    text-transform: uppercase;
    font-size: large;
    border: 3px white solid;
    padding: 10px;
    margin-left: 10px;
    color: white;
}

button{
    margin-top: 1.2rem;
    display: inline-block;
    max-width: 200px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .85rem;
    letter-spacing: .1rem;
    opacity: 1;
    color: #fff;
    border: 2px white solid;
    padding: 1rem 2rem;
    text-decoration: none;
    background: transparent;
}